<div class="maincontainer">
  <div class="centerscreen">
    <div class="box">
      <div class="containerfooter">
        <mat-icon>phone</mat-icon>
        <div class="combine">
          <p>Call</p>
          <p>T: +1 7203776135</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="containerfooter">
        <a href="mailto:vinoth_kumarm@hotmail.com">
          <mat-icon>mail</mat-icon>
        </a>
        <div class="combine">
          <p>Contact</p>
          <a href="mailto:vinoth_kumarm@hotmail.com">
            <p>vinoth_kumarm@hotmail.com</p>
          </a>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="containerfooter">
        <mat-icon>add</mat-icon>
        <div class="combine">
          <p>
            Follow
          </p>
          <div class="containerfooter">
            <a href="https://www.linkedin.com/in/vinoth-kumar-madurai/"
              ><mat-icon class="link"
                ><img src="assets/linkedin-square-color.svg"
              /></mat-icon>
            </a>
            <!-- <a href="/"><mat-icon class="link">facebook</mat-icon></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
