
.image{
    float: left;
    margin: 30px;
}
.aboutmetext{
    float: right;
    width: 70%;
    height: 100%;
}

 
.button-row button,
.button-row a {
  margin-right: 30px; 
  font-weight: bold;
  margin: 10px;
}

.navbutton{
    width: 100px;
    height: 100px;
}

.study{
    font-weight: bold;
}

.university{
    color: gray;
}