<div class="container">
  <div class="image">
    <img src="assets/IMG_2249_3.png" alt="Vinoth Kumar Madurai" />
    <br />
    <br />
    <div class="education">
      <div>
        <h1><b>Education</b></h1>
      </div>
      <div>
        <div class="study">M.Sc Information Technology</div>

        <a class="university" href="https://www.unom.ac.in/"
          ><mat-icon style="float: left;"
            ><img
              style="width: 20px; height: 20px;"
              src="assets/unirversityofmardras.png"
            />
          </mat-icon>
          <p>University of Madras</p>
        </a>
      </div>
      <div>
        <div class="study">Bachelor of Computer Application</div>
        <a class="university" href="https://www.unom.ac.in/"
          ><mat-icon style="float: left;"
            ><img
              style="width: 20px; height: 20px;"
              src="assets/unirversityofmardras.png"
          /></mat-icon>

          <div>University of Madras</div>
        </a>
      </div>
    </div>
  </div>

  <div class="aboutme">
    <h1><b>Hello</b></h1>
    <h2>a bit about me:</h2>

    <p>
      I am a full stack developer with background of media and entertainment.
    </p>
    <p>
      I got into software’s because first time when I saw computer applications
      and games, I was excited and wondering how it is working. then I assembled
      my first computer, developed small games and with the interest I build
      basic DOS like Operating System in my final year project. Excitement on
      every innovation made me to enter software industry as a developer. I have
      led and developed a software’s on 3D visualization, Project Management,
      Industrial automation, and currently developing applications for
      broadcasting industry to handle day-to-day activities for TV stations.
    </p>
    <p>
      In my current role I have developed a scalable distributed warehouse
      system which streams raw files seamlessly and retrieve well organized data
      via API with improved performance, and I am a skilled leader who has the
      proven ability to motivate, educate, and manage a team of professionals to
      build a software and effectively track changes. I would make a very
      valuable addition to any team because my prior experiences have trained me
      to acquire skills efficiently, approach problem solving creatively and
      communicate effectively.
    </p>
  </div>
  
</div>
