

.logo{
    width: 80%;
    height: 80%;
    color: rgba($color: #ccc0c0, $alpha: 0.5);
    opacity: 0.7;
}

.resume{
    align-self: start;
}

.experiance{
    height: 100%;
    width: 75%;
    float: left;
    padding-right: 20px;
}

.skills{
    width: 100%;
}

mat-grid-list{
    background-color: green($color: #b1ab77);
}

.maincontainer{
    width: 100%;
    height: 100%;
}

.companyimage{
float: left;
}

.companydetails{
    padding-left: 100px;
}


.role{
    font-weight: bold;
    font-size: 13px;
}

.companyname{
    font-size: 13px;
}

.location{
    font-size: 13px;
    color: gray;
}

.duration{
    font-size: 13px;
    color: gray;
}
 
 